.community-Section {
    display: flex;
    flex-direction: column;          /* Column layout */
    justify-content: center;        /* Center content vertically */
    align-items: center;            /* Center content horizontally */
    height: 300px;                  /* Set a fixed height or adjust as needed */
            /* just for visualization */
}

.community-header,
.community-content {
    text-align: center;             /* Center-align text */
    margin: 10px;
    font-size: 25px;                   /* Add some margin for better spacing */
}

.community-banner{
    margin: auto;
    display: flex;
    flex-direction: column;
}


.coumunity-banner-heading{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;

}
.line-divider {
    height: 2px;
    background-color: #c3ad75; /* or any color you prefer */
    margin: 10px 0; /* adjust margin as needed */
}
.community-button {
    margin-top: 20px;               /* Space between the line and button */
    padding: 10px 20px;             /* Button padding */
    font-size: 16px;                /* Button font size */
    background-color: #c3ad75;      /* Button background color */
    color: white;                   /* Button text color */
    border: none;                   /* Remove button border */
    cursor: pointer; 
    width: 200px;               /* Cursor pointer */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.community-button:hover {
    background-color: #caa956;      /* Darker color on hover */
}

.coumunity-banner-heading:hover{
    color: #c3ad75 !important;
    cursor: pointer;
}

.community-banner-p{
    font-weight: 500;
    margin: 0px;
}

@media (min-width: 768px){
    
    .community-Section {
        width: 500px;
        margin: auto;
    }
    .community-banner{
        width: 750px;
    }
}

@media (min-width: 992px){
   
    .community-Section {
        width: 600px;
        margin: auto;
    }
    .community-banner{
        width: 970px;
    }
}

@media (min-width: 1200px){
   
    .community-Section {
        width: 900px;
        margin: auto;
    }
    .community-banner{
        width: 1170px;
    }
}